.master-page-container{

  background-color: #fff;

  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

  & .master-page-wrap{

    & .title-header{

      display: flex;

      align-items: center;

      justify-content: space-between;

      padding:10px 15px;

      border-bottom: 1px solid #dddee1;

      & .title-content{

        display: flex;

        align-items: center;

        & .title-icon{

          display: flex;

          align-items: center;

          margin-right:5px;

        }

        & p.title{

          font-size: 14px;

          font-weight: bold;

        }

      }

      & .title-toolbar{



      }

    }

    & .master-page-search-content{

      padding: 15px;

      padding-bottom: 0;

    }

    & .master-page-content-toolbar{

      padding: 15px;

      padding-bottom: 0;

      display: flex;

      align-items: center;

      justify-content: space-between;

      // border-bottom:1px solid #dddee1;

      & .bar-search{

        &.input-search{

          width:350px;

        }

      }

      & .bar-group{



      }

    }

    & .master-page-padding-content{

      padding:15px;

      background: #fff;

      padding-bottom: 0;

    }

    & .master-page-nopadding-content{

      padding-bottom: 0;

      background: #fff;

      padding-left: 18px;

    }

    & .page-wrapper{

      padding:15px;

      display: flex;

      width: 100%;

      justify-content: flex-end;

    }

  }

}
